<div>
  {{#each nakkitypes}}
  <form class="form-inline">
    <input type="hidden" name="cid" value="{{ this.cid }}"/>
    <input type="text" name="type" class="input-small" value="{{ this.type }}" />
    <div class="input-append bootstrap-timepicker">
      <input type="text" name="start" value="{{ prettyTimeFromSlot this.start ../party.date }}" class="input-small time-picker" >
	<span class="add-on">
	  <i class="icon-time"></i>
	</span>
    </div>
    <div class="input-append bootstrap-timepicker">
      <input type="text" name="end" value="{{ prettyTimeFromSlot this.end ../party.date }}" class="input-small time-picker" >
	<span class="add-on">
	  <i class="icon-time"></i>
	</span>
    </div>
    <button class="deletor btn btn-danger" value="{{ this.cid }}">Delete</button>
  </form>
  {{/each}}
  <div>
    <button class="creator btn btn-primary">Create New Type</button>
    <button class="setter btn btn-primary">Update NakkitTable</button>
  </div>
</div>

