<form id="edit_party">
  Title: <input type="text" name="title" value="{{ party.title }}" readOnly="true"/><br />
  Date: <input type="text" name="date" value="{{ party.date }}" /><br />
  Description: <textarea rows="5" cols="40" name="description" value="{{ party.description }}">{{ party.description }}</textarea><br />
  <!-- <input type="text" name="description" value="{{ party.description }}" /><br/> -->
  <input type="submit" value="Save Changes"></input>
</form>
